<?xml version="1.0" encoding="utf-8"?>
<eventslist>
	<month>
		<name>October 2019</name>
		<event>
			<date>Friday 4th</date>
			<name>Mariners Lunch</name>
		</event>
		<event>
			<date>Friday 11th</date>
			<name>Welsh Guards, Bill Morris function</name>
		</event>
		<event>
			<date>Saturday 12th</date>
			<name>Ghurkha Charity Lunch (George Royle)</name>
		</event>
		<event>
			<date>Friday 18th</date>
			<name>Trafalgar Dinner 7 for 7.30pm</name>
		</event>
		
	</month>
	<month>
		<name>November 2019</name>
		<event>
			<date>Friday 8th</date>
			<name>104th Annual Dinner at Angel Hotel 6.30 for 7pm</name>
		</event>
		<event>
			<date>Sunday 11th</date>
			<name>Remembrance Sunday</name>
		</event>
		<event>
			<date>Saturday 30th</date>
			<name>Wales v Barbarians ko 2.45pm</name>
		</event>				
	</month>
	<month>
		<name>December 2019</name>
		<event>
			<date>Friday 6th</date>
			<name>Mariners Lunch</name>
		</event>
		<event>
			<date>Friday 13th</date>
			<name>Capt. Scott Soc. Christmas Lunch 12.30 for 1.30pm</name>
		</event>				
	</month>			
</eventslist>